@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.page-padding-x {
  @apply px-7 md:px-14 lg:px-16 xl:px-20 2xl:px-48;
}

.page-padding-y {
  @apply py-6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
