@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-filled-style {
  @apply bg-soft-green text-white px-5 py-2 lg:px-7 lg:py-3 rounded-full text-sm;
}

.button-flat-filled-style {
  @apply bg-soft-green text-white px-5 py-2 lg:px-7 lg:py-3 rounded-md text-sm;
}
.button-outlined-style {
  @apply border border-soft-green text-black px-5 py-2 lg:px-7 lg:py-3 rounded-full text-sm hover:bg-soft-green hover:text-white duration-300 ease-in-out;
}
.section-title {
  @apply font-semibold text-black text-3xl;
}
.section-padding {
  @apply px-10 py-4;
}
.page-layout {
  @apply max-w-[1640px] mx-auto section-padding;
}
.img-style {
  @apply object-cover h-[15rem] w-[16rem];
}
.input-style {
  @apply border mt-2 h-10 rounded-md px-2 text-sm;
}
.section-padding-y {
  @apply py-16;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
